ListaMenu
@model IEnumerable<RestauranteWebApp.Models.M_Menu>

@{
    ViewBag.Title = "ListaMenu";
}

<h2>ListaMenu</h2>

<p>
    @Html.ActionLink("Agrega un Menú", "AgregarMenus")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_menu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_menu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "ModificarMenu", new { id = item.id_menu }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "EliminarMenu", new { id = item.id_menu })
            </td>
        </tr>
    }

</table>
